<table>
  <tr colspan="2">
    <th><%= @cat.name.upcase %></th>
  </tr>
  <tr>
    <td>Birthday</td>
    <td><%= @cat.birth_date.to_formatted_s(:long) %></td>
  </tr>
  <tr>
    <td>Owner</td>
    <td><%= @cat.owner.username %></td>
  <tr>
    <td>Color</td>
    <td><%= @cat.color.capitalize %></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @cat.description %></td>
  </tr>
</table>
<br>

<table width="450px">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Requester</th>
    <% if @cat.user_id == current_user.id %>
    <th colspan="2"><center>Action</center></th>
    <% end %>
  </tr>
  <% @cat.rental_requests.order(start_date: :asc).each do |rental_request|%>
  <tr>
    <td><%= rental_request.start_date %></td>
    <td><%= rental_request.end_date %></td>
    <td><%= rental_request.status %></td>
    <td><%= rental_request.requester.username %></td>
    <% if @cat.user_id == current_user.id %>
    <td><%= button_to "Approve", cat_rental_request_approve_url(rental_request), method: :patch %></td>
	  <td><%= button_to "Deny", cat_rental_request_deny_url(rental_request), method: :patch %></td>
    <% end %>
  </tr>
  <% end %>
  
</table><br>
<%= link_to "Edit cat", edit_cat_url(@cat) %><br>
<a href="<%= cats_url %>">Back to Cats</a><br>
<a href="<%= new_cat_rental_request_url %>">Make a new cat rental request</a>

