<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if flash[:notice] %>
	<pre><%= flash[:notice] %></pre>
<% end %>

<% if current_user %>
    <h2>GET YOUR KITTIES, <%= current_user.username.upcase if current_user  %>!!!!</h2>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
           
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="logout">
  </form>
  <% else %>
    <%= link_to "Login", new_session_url %>
  <% end %>

<%= yield %>

</body>
</html>
