<pre><%= link_to "<--", band_url(@album.band.id) %></pre>
<h1><%= @album.title %> by <%= @album.band.name %></h1>

<ul>
  <% all_tracks = @album.tracks.sort {|a,b| a.ord <=> b.ord }%>
  <% all_tracks.each do |track| %>
  <li><%= track.ord.to_s + ". " %>
      <%= link_to track.title, track_url(track.id) %></li>
  <% end %>
</ul>

<%= link_to "edit album", edit_album_url(@album.id) %>

<%= button_to "Delete this Album", @album, :method => :delete %>
