<h4>Create Post</h4>
<form action="/posts" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
     
  <label for="post_title">Title</label>
  <input 
    type="text" 
    name="post[title]" 
    id="post_title"
    value="">
  <br>
  <label for="post_url">url</label>
  <input 
    type="text" 
    name="post[url]" 
    id="post_url"
    value="">
  <br>
  <% @subs.each do |sub| %>
    <input type="checkbox" 
           name="post[subs][]" 
           id="post_sub_<%=sub.title%>" 
           value = "<%=sub.id %>">
           <label for="post_sub_<%=sub.title%>"><%=sub.title%></label>
  <% end %>
  <br>
  <label for="post_content">Content</label>
  <textarea name="post[content]" id="post_content"></textarea>
  <br>
  <input type="submit" value="Create Post!">
</form>
  